@using ClickKarmachari;
@using ClickKarmachari.Models;
@{
    ViewBag.Title = "Leave_Approve_List";
    Layout = "~/Views/Employee/Employee_Layout_new.cshtml";
    UserMaster _LogedUser = ViewBag._LogedUser;
    CommonClasses util = new CommonClasses();
    List<Leave_Master> leaves = ViewBag.leaves;
    List<UserMaster> user = ViewBag.user;
    DateTime Date = Convert.ToDateTime(DateTime.Now);
    string str1 = Date.ToString("dd MMMM yyyy");

}
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title">All Leave Request</h4>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header  border-0">
                <h4 class="card-title"></h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="basic-datatable5" class="table table-striped table-bordered border-bottom table-hover">
                        <thead>
                            <tr>
                                <th class="border-bottom-0">Request Date</th>
                                <th class="border-bottom-0">Employee Name</th>
                                <th class="border-bottom-0">Leave days</th>
                                <th class="border-bottom-0">Leave type</th>
                                <th class="border-bottom-0">From Date</th>
                                <th class="border-bottom-0">To Date</th>
                                <th class="border-bottom-0">Reason</th>
                                <th class="border-bottom-0">Status</th>
                                <th class="border-bottom-0">Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (leaves != null)
                            {
                                foreach (Leave_Master p in leaves)
                                {
                                    <tr>
                                        <td>@p.ReqDate.ToString("dd MMMM yyyy")</td>
                                        <td style="text-transform:capitalize">@p.UserMaster.User_Name</td>
                                        <td>@p.leave_days</td>
                                        <td style="text-transform: capitalize">@p.Leave_Type</td>
                                        <td>@p.From_Date.ToString("dd MMMM yyyy")</td>
                                        <td>@p.To_Date.ToString("dd MMMM yyyy")</td>
                                        <td style="text-transform: capitalize">@Html.Raw(util.GetTextStringTable(p.Reason))</td>
                                        <td>
                                            @*@util._Status_ByNumber(p.Status)*@
                                            @if (p.Status == 0)
                                            {
                                                <span class="badge badge-secondary-light"><b>@util._Status_ByNumber(p.Status)</b></span>
                                            }
                                            else if (p.Status == 1)
                                            {
                                                <span class="badge badge-success">@util._Status_ByNumber(p.Status)</span>
                                            }
                                            else if (p.Status == 2)
                                            {
                                                <span class="badge badge-danger-light">@util._Status_ByNumber(p.Status)</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-primary-light">@util._Status_ByNumber(p.Status)</span>
                                            }
                                        </td>
                                        <td>
                                            <button class="btn btn-icon  btn-primary" onclick="return Apr_Rep_Leave(@p.leave_Id,@p.User_Id,@p.leave_days,'@p.From_Date.ToString("dd MMMM yyyy")','@p.To_Date.ToString("dd MMMM yyyy")','@p.Leave_Type','@util.GetTextStringScript(p.Reason)','@util.GetTextStringScript(p.Remark)',@p.F_Date,@p.T_Date)" type="submit"><strong><i class="feather feather-edit" data-toggle="tooltip" data-original-title="View/Edit"></i></strong></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<!-------------------Add Leave_Emp_Approve------------------------------------------->
<div class="modal fade" id="Model_Reporting_Leave_M" tabindex="-1" role="dialog" aria-hidden="true">

    @using (Ajax.BeginForm("Leave_Emp_Approve", "Employee", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnUpdateUserELeaveApprovelist" }, new { @id = "form", @enctype = "multipart/form-data", role = "form" }))
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Leave</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    <input type="hidden" name="leave_Id" id="leave_Id" value="0">
                    <input type="hidden" name="F_Date_Ch" id="F_Date_Ch" value="0">
                    <input type="hidden" name="T_Date_Ch" id="T_Date_Ch" value="0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Employee</label>
                                <select name="Emp_Id" id="User_Id" class="form-control" required>
                                   @* <option label="select User"></option>*@
                                    @foreach (UserMaster _c in user)
                                    {
                                        <option value=@_c.User_ID>@_c.User_Name </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Leave Type</label>
                                <select class="form-control" name="Leave_Type" id="Leave_Type" data-placeholder="Choose Leave Type" required>
                                    <option value=""> Select Leave Type</option>
                                    <option value="LWPS">LWPS</option>
                                    <option value="PL">PL</option>
                                    <option value="CL">CL</option>
                                    <option value="EL">EL</option>
                                    <option value="EL">SL</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Start Date</label>
                                <input type="text" name="From_Date" id="From_Date" class="form-control fc-datepicker" placeholder="Enter From Date" required />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label"> End Date</label>
                                <input type="text" name="To_Date" id="To_Date" class="form-control fc-datepicker" placeholder="Enter To Date" required />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Half Day-Start Date</label>
                                <input type="checkbox" name="F_Date" id="F_Date" value="1" style="width: 35px; height: 20px;" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Half Day-End Date</label>
                                <input type="checkbox" name="T_Date" id="T_Date" value="1" style="width: 35px; height: 20px; " />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Reason</label>
                                <textarea name="reason" id="Reason" class="form-control" rows="2" cols="20" required></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Remark By Admin</label>
                                <textarea name="Remark" id="Remark" class="form-control" rows="2" cols="20"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fa fa-close"></i>&ensp;<b style="color:#222222">Close</b></button>
                        <button type="submit" id="approvebtn" name="Command" value="Approve" class="btn btn-success"><i class="fa fa-check"></i>&ensp;Approve</button>
                        <button type="submit" id="rejectbtn" name="Command" value="Rejected" class="btn btn-danger"><i class="fa fa-remove"></i>&ensp;Rejected</button>
                    </div>

                </div>
                </div>
  

}
    </div>

    <script type="text/javascript">
        function getHalfLeave() {
            var S_Date = document.getElementById('F_Date_Ch').value;
            var E_Date = document.getElementById('T_Date_Ch').value;
            if (S_Date == 1) {
                document.getElementById("F_Date").checked = true;
            }
            if (S_Date != 1) {
                document.getElementById("F_Date").checked = false;
            }
            if (E_Date == 1) {
                document.getElementById("T_Date").checked = true;
            }
            if (E_Date != 1) {
                document.getElementById("T_Date").checked = false;
            }
        }
    </script>
