@using ClickKarmachari;
@using ClickKarmachari.Models;
@{
    ViewBag.Title = "User_Profile";
    Layout = "~/Views/Employee/Employee_Layout_new.cshtml";
    List<City_Master> u_city = ViewBag.City;
    List<Religion_Master> religion = ViewBag.religion;
    string s = @"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$";
    UserMaster _LogedUser = ViewBag._LogedUser;
    CommonClasses util = new CommonClasses();

}

<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title">Edit profile</h4>
    </div>
  
</div>


<!-- Row -->
<div class="row">
    <div class="col-xl-4 col-lg-5">
        <div class="card">
            @using (Ajax.BeginForm("Change_Password", "Access", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnUpdateUserChange_pswd" }, new { @id = "form", @enctype = "multipart/form-data", role = "form" }))
            {
                <div class="card-header border-bottom-0">
                    <div class="card-title">Edit Password</div>
                </div>
                @Html.AntiForgeryToken()
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Current Password<span class="text-danger">&ensp;*</span></label>
                        <input type="password" name="Old_Password" id="Old_Password" value="" class="form-control" required placeholder="Current Password">
                    </div>
                    <div class="form-group">
                        <label class="form-label">New Password<span class="text-danger">&ensp;*</span></label>
                        <input type="password" name="New_Password" id="new_Password" value="" class="form-control" required placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Confirm Password<span class="text-danger">&ensp;*</span></label>
                        <input type="password" name="Confirm_password" id="confirm_password" value="" class="form-control" required placeholder="Confirm Password">
                        <span id='message'></span>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" id="savebtn" name="Command" value="Save" class="btn btn-info"><i class="feather feather-save"></i>&ensp;Save changes</button>
                </div>
            }
        </div>
    </div>
    <div class="col-xl-8 col-lg-7">
        @using (Ajax.BeginForm("User_Profile", "Employee", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnUpdateUser_Profile" }, new { @id = "form", @enctype = "multipart/form-data", role = "form" }))
        {
            @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-header border-bottom-0">
                <div class="card-title">Update Profile</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label"> User Name</label>
                            <input type="hidden" name="User_ID" id="User_ID" value="@_LogedUser.User_ID">
                            <input type="hidden" name="Profile_Lock" id="Profile_Lock" value="@_LogedUser.Profile_Lock">

                            <input type="text" name="User_Name" id="User_Name" class="form-control" value="@_LogedUser.User_Name" pattern="[a-zA-Z][a-zA-Z0-9\s]*" placeholder="Enter User Name" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Reference Mobile No</label>
                            <input type="text" name="RefMobile" id="RefMobile" class="form-control" value="@_LogedUser.RefMobile" placeholder="Enter User Mobile" pattern="[6789][0-9]{9}">

                        </div>
                        <div class="form-group">
                            <label class="form-label"> Pancard No</label>
                            <input type="text" name="PanCard_No" required id="PanCard_No" class="form-control" value="@_LogedUser.PanCard_No" placeholder="Enter PanCard No" pattern="[A-Z]{5}\d{4}[A-Z]{1}">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Religion</label>
                            <select name="Religion_Id" id="Religion_Id" class="form-control select2" required>
                                @if (_LogedUser.Religion_name != null)
                                {
                                    <option value="@_LogedUser.Religion_name">@_LogedUser.Religion_name</option>
                                }
                                else
                                {
                                    <option value="">Select Religion</option>
                                }
                                @foreach (Religion_Master _c in religion)
                                {
                                    <option value=@_c.Religion_Name>@_c.Religion_Name</option>
                                }
                            </select>
                        </div>
                       
                        <div class="form-group">
                            <label class="form-label"> User Image</label>
                            @*<input type="file" name="file" id="file" class="form-control" value="@_LogedUser.image_name" placeholder="Select User Image">*@
                            <div class="input-group file-browser">
                                <input type="text" class="form-control border-right-0 browse-file" placeholder="Browse File" readonly>
                                <label class="input-group-append mb-0">
                                    <span class="btn ripple btn-primary">
                                        Browse <input type="file" class="file-browserinput" name="file" id="file" value="@_LogedUser.image_name" style="display: none;" multiple>
                                    </span>
                                </label>
                            </div><span class="text-lightpink-red">[ Allow Only .jpg .png .jpeg (5MB) ]</span>
                            <script type="text/javascript">
                                $('#file').bind('change', function () {
                                    if ((this.files[0].size / 1024 / 1024) > 5) {
                                        alert('Sorry, Maximum File size : 5 MB Only ! ');
                                        $('#file').val('');
                                    }
                                });
                            </script>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label"> Mobile No</label>
                            <input type="text" name="User_Mobile" id="User_Mobile" class="form-control" value="@_LogedUser.User_Mobile" placeholder="Enter User Mobile" pattern="[6789][0-9]{9}" required>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input type="text" name="User_Email" id="User_Email" class="form-control" value="@_LogedUser.User_Email" placeholder="Enter Email Id" pattern="@s" required>

                        </div>
                        <div class="form-group">
                            <label class="form-label">Aadharcard No</label>
                            <input type="text" name="Adharcard_No" id="Adharcard_No" required class="form-control" value="@_LogedUser.Adharcard_No" placeholder="Enter Adharcard No" pattern="^\d{12}$">
                        </div>
                        <div class="form-group">
                            <label class="form-label">City</label>
                            <input type="text" id="City_Name" name="City_Name" class="form-control" value="@_LogedUser.City_Name"/>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">

                <button type="submit" id="savebtn" name="Command" value="Save" class="btn btn btn-info"><i class="feather feather-save"></i>&ensp;Save changes</button>

            </div>
        </div>
            }
        </div>
</div>
<!-- End Row-->
<script type="text/javascript">
    var password = document.getElementById("new_Password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>