@using ClickKarmachari;
@using ClickKarmachari.Models;
@{
    ViewBag.Title = "Asset_List";
    Layout = "~/Views/Access/Access_Layout.cshtml";
    List<Asset_type> Ast = ViewBag.Ast;
    List<Asset_Master> _A = ViewBag.Asset;
    DateTime Date = Convert.ToDateTime(DateTime.Now);
    //string str2 = Date.ToString("yyyy-MM-dd");
    string str2 = Date.ToString("dd MMMM yyyy");
    CommonClasses util = new CommonClasses();
    Prod_Satyamgroup_V1Entities db = new Prod_Satyamgroup_V1Entities();
}

<!--Page header-->
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title">All Assets</h4>
    </div>
    <div class="page-rightheader ml-md-auto">
        <div class="align-items-end flex-wrap my-auto right-content breadcrumb-right">
            <div class="btn-list" onclick="myfunctionn()">
                <button class="btn btn-primary" onclick="return Add_Asset(0, '', '', '@str2', 0, '', '', '')" type="submit"><i class="feather feather-plus fs-15 my-auto mr-2"></i><strong>Add Asset</strong></button>
            </div>
        </div>
    </div>
</div>
<!--End Page header-->
<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header  border-0">
                <h4 class="card-title"></h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="basic-datatable" class="table table-striped table-bordered border-bottom table-hover">
                        <thead>
                            <tr>
                                <th>Asset Name</th>
                                <th>Asset Type </th>
                                <th>Service Duration(Days) </th>
                                <th>Purchase Date </th>
                                <th>AllocatedName </th>
                                <th>Status</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (_A != null)
                            {
                                foreach (Asset_Master _newobj in _A)
                                {
                                    List<Asset_Movement> amt = ViewBag.amt;
                                    amt = amt.Where(x => x.Asset_id == _newobj.Asset_id).ToList();
                                    Asset_Movement am = amt.LastOrDefault();
                                    DateTime Purchase_Date = Convert.ToDateTime(_newobj.Purchase_Date);
                                    string str1 = Purchase_Date.ToString("dd MMMM yyyy");
                                    <tr>

                                        <td style="text-transform:capitalize">@_newobj.Asset_Name-@_newobj.Serial_Number</td>
                                        <td style="text-transform:capitalize">@_newobj.Asset_type1.Name</td>
                                        <td>@_newobj.Service_Duration</td>
                                        <td>@str1</td>
                                        @if (am != null)
                                        {
                                            UserMaster u = db.UserMasters.Where(x => x.User_ID == am.To_id).FirstOrDefault();
                                            <td>@u.User_Name</td>
                                        }
                                        else
                                        {
                                            <td>--------</td>
                                        }
                                        
                                        @if (@_newobj.Status == 1)
                                        {
                                            <td><span class="badge badge-success">Safe</span></td>
                                        }
                                        @if (@_newobj.Status == 2)
                                        {
                                            <td><span class="badge badge-secondary-light">Stolen</span></td>
                                        }
                                        @if (@_newobj.Status == 3)
                                        {
                                            <td><span class="badge badge-danger-light">Damaged</span></td>
                                        }
                                        @if (_newobj.Status == null)
                                        {
                                            <td></td>
                                        }
                                        <td class="asset-btn" style="padding:5px !important;">
                                            @using (Ajax.BeginForm("Asset_Delete", "Access", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnUpdateAdminAsset" }, new { @id = "form", @enctype = "multipart/form-data", role = "form" }))
                                            {
                                                <button class="btn btn-icon btn-primary m-1" onclick="return Add_Asset(@_newobj.Asset_id,'@_newobj.Asset_Name',@_newobj.Asset_Type,'@_newobj.Purchase_Date.ToString("dd MMMM yyyy")',@_newobj.Service_Duration,'@util.GetTextStringScript(_newobj.Detail)','@_newobj.Serial_Number',@_newobj.Status)" type="submit"><strong><i class="feather feather-edit" data-toggle="tooltip" data-original-title="View/Edit"></i></strong></button>

                                                if (amt.Count == 0)
                                                {
                                                    <input type="hidden" name="Assetid" id="Assetid" value="@_newobj.Asset_id" />
                                                    <Button type="submit" id="deleteasset" name="Command" value="Delete" class="btn btn-danger btn-icon" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to Delete?')" ;><i class="feather feather-trash-2"></i></Button>
                                                }
                                                <a href="~/Access/Asset_Movement_List?Asset_id=@_newobj.Asset_id" class="btn btn-outline-info ">&nbsp;<b><i class="feather feather-plus fs-15 my-auto mr-2"></i>Add Movement</b></a>
                                            }
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->
<!-------------------Add Asset Movement------------------------------------------->
<div class="modal fade" id="Model_Add_Asset" tabindex="-1" role="dialog" aria-hidden="true">

    @using (Ajax.BeginForm("Asset_Add", "Access", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnUpdateAdminAsset" }, new { @id = "form", @enctype = "multipart/form-data", @role = "form", @onsubmit = "submitasset()" }))
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="col-md-12 p-3 card-left" style="display:none;text-align:center" id="msgdig">
                    <div class="alert_R" style="border-radius: 5px; color: white;padding:inherit; background-color: #f91a1ab8 ">
                        <span id="failuremsg"></span>
                        <span class="closebtn " onclick="this.parentElement.style.display='none';" style="float:right">&times;</span>
                    </div>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Add Movement</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    <input type="hidden" name="Asset_id" id="Asset_id" value="0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Asset Name <span class="text-red">*</span></label>
                                <input type="text" name="Asset_Name" id="Asset_Name" placeholder="Enter Asset " class="form-control" required autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Asset Type <span class="text-red">*</span></label>
                                <select name="Asset_Type" id="Asset_Type" class="form-control select2-show-search custom-select" required>
                                    <option value="">Select Asset Type</option>
                                    @foreach (Asset_type T in Ast)
                                    {
                                        <option value=@T.Type_id>@T.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Serial No <span class="text-red">*</span></label>
                                <input type="text" name="Serial_Number" id="Serial_Number" placeholder="Enter Serial No" class="form-control" required autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Purchase Date <span class="text-red">*</span></label>
                                <input type="text" name="Purchase_Date" id="Purchase_Date" max="@str2" placeholder="01 January 2001" class="form-control fc-datepicker" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Service Duration(Days) <span class="text-red">*</span></label>
                                <input type="number" name="Service_Duration" placeholder="Enter Service Duration" id="Service_Duration" class="form-control" required min="0" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label"> Status <span class="text-red">*</span></label>
                                <select name="Status" id="Status" class="form-control" required>
                                    <option value="" selected> Select Status</option>
                                    <option value="1">Safe</option>
                                    <option value="2">Stolen</option>
                                    <option value="3">Damaged</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-label">Detail <span class="text-red">*</span></label>
                                <textarea name="Detail" id="Detail" class="form-control" rows="1" placeholder="Enter Detail"  required></textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fa fa-close"></i>&ensp;<b style="color:#222222">Close</b></button>
                    <button type="submit" id="savebtn" name="Command" value="Save" class="btn btn-primary"><i class="fa fa-save"></i>&ensp;Save</button>
                </div>
            </div>
        </div>
    }
</div>

<script>
    var isSubmitted = false;

    function stopMultipleSubmitAsset() {
        if (!isSubmitted) {
            $("#savebtn").prop('disabled', true);
            isSubmitted = true;
            return true;
        }
        else {
            $("#savebtn").prop('disabled', false);
            isSubmitted = false;
            return false;
        }
    }
    function submitasset() {
      
        stopMultipleSubmitAsset();
        return isSubmitted;
    }
 
    function myfunctionn() {
     
        document.getElementById("msgdig").style.display = "none";
        $("#Model_Add_Asset").modal('show');

        document.getElementById("failuremsg").innerText = "";
        document.getElementById("Detail").value = "";
    }

</script>