@using ClickKarmachari.Models;
@using ClickKarmachari;
@{
    ViewBag.Title = "Company_Profile";
    Layout = "~/Views/Access/Access_Layout.cshtml";
    CommonClasses util = new CommonClasses();
    Company_Master _c = ViewBag.company;
    string s = @"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$";
    List<Company_Doc_Master> cmp = ViewBag.cmp;
}
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title">Update Company Profile</h4>
    </div>
    <div class="page-rightheader ml-md-auto">
        <div class=" btn-list">
            <button class="btn btn-light" data-toggle="modal" data-target="#mailmodal" title="E-mail"> <i class="feather feather-mail"></i> </button>
            <button class="btn btn-light" data-toggle="modal" data-target="#contactmodal" title="Contact"> <i class="feather feather-phone-call"></i> </button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#infomodal" title="Info"> <i class="feather feather-info"></i> </button>
        </div>
    </div>
</div>
<div class="col-xl-12 col-md-12 col-lg-12">
    <div class="tab-menu-heading hremp-tabs p-0 ">
        <div class="tabs-menu1">
            <!-- Tabs -->
            <ul class="nav panel-tabs">
                <li class="ml-4"><a href="#tab5" class="active" data-toggle="tab">Company Details</a></li>
                <li><a href="#tab6" data-toggle="tab">Upload Documents</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body tabs-menu-body hremp-tabs1 p-0">
        <div class="tab-content">
            <div class="tab-pane active" id="tab5">
               
                    <div class="card-header border-bottom-0">
                        <div class="card-title">Company Profile - @_c.Company_Name / @_c.Contact_NO</div>
                    </div>
              
                <div class="card-body">
                    @using (Ajax.BeginForm("Company_Profile", "Access", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnUpdateCompany_Profile" }, new { @id = "form", @enctype = "multipart/form-data", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label"> Company Full Name</label>
                                    <input type="hidden" name="Company_ID" id="Company_ID" value="@_c.Company_ID">
                                    <input type="text" name="Company_Name" id="Company_Name" class="form-control" value="@_c.Company_Name" pattern="[a-zA-Z][a-zA-Z0-9\s]*" placeholder="Enter Company Name" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Mobile Number</label>
                                    <input type="text" name="User_Mobile" id="User_Mobile" class="form-control" value="@_c.Contact_NO" placeholder="Enter User Mobile" pattern="[6789][0-9]{9}" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Company Logo</label>
                                    <div class="input-group file-browser">
                                        <input type="text" class="form-control border-right-0 browse-file" placeholder="Browse File" readonly>
                                        <label class="input-group-append mb-0">
                                            <span class="btn ripple btn-primary">
                                                Browse  <input type="file" name="file" id="file" class="custom-file-input"  value="@_c.Logo_URL" style="display: none;" multiple">
                                            </span>
                                        </label>
                                    </div>
                                    <script type="text/javascript">
                                        $('#file').bind('change', function () {
                                            if ((this.files[0].size / 1024 / 1024) > 5) {
                                                alert('Sorry, Maximum File size : 5 MB Only ! ');
                                                $('#file').val('');
                                            }
                                        });
                                    </script><span class="text-lightpink-red">[ Allow Only .jpg .png .jpeg (5MB) ]</span>
                                    @*<input type="file" name="file" id="file" class="form-control" value="@_c.Logo_URL" placeholder="Select Company Logo">*@
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label"> Administrator Full Name</label>
                                    <input type="text" name="User_Name" id="User_Name" class="form-control" value="@_c.Adminstrator_Name" pattern="[a-zA-Z][a-zA-Z0-9\s]*" placeholder="Enter User Name" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Administrator Email</label>
                                    <input type="text" name="Company_Email" id="Company_Email" class="form-control" value="@_c.Company_Email" placeholder="Enter Email Id" pattern="@s" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Company Address</label>
                                    <textarea name="Company_Address" required class="form-control" rows="2" id="Company_Address">@_c.Company_Address</textarea>
                                </div>
                            </div>
                            <br/>
                            <div class="col-lg-12">
                                <div class="modal-footer">
                                    <button type="submit" id="savebtn" name="Command" value="Save" class="btn btn-info"><i class="feather feather-save"></i>&ensp;Save changes</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane" id="tab6">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hpanel" style="">
                                <div class="panel-body" style="overflow-x: auto;">
                                    <div>
                                        <nav style="float:right">
                                            <button class="btn btn-primary" onclick="return Add_Cmp_Doc(0,'')" type="submit"><strong><i class="feather feather-plus fs-15 my-auto mr-2"></i>Add Company Documents</strong></button>
                                        </nav>
                                    </div>
                                    <br />  <br />  <br />
                                    <table id="basic-datatable1" class="table table-striped table-bordered border-bottom table-hover">
                                        <thead>
                                            <tr>
                                                <th class="wd-15p border-bottom-0">Document</th>
                                                <th class="wd-15p border-bottom-0">View</th>
                                                <th class="wd-20p border-bottom-0">Operation</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @if (cmp != null)
                                            {
                                                foreach (Company_Doc_Master _newobj in cmp)
                                                {
                                            <tr>
                                                <td>@_newobj.Doc_Name</td>
                                               
                                                <td><a href="\Uploads\User_Document/@_newobj.Doc_Type" target="_blank"><div><i class="fa fa-eye fa-2x text-info"></i></div></a></td>
                                                <td>
                                                    <button class="btn btn-icon btn-primary" onclick="Add_Cmp_Doc(@_newobj.Cmp_Doc_Id,'@_newobj.Doc_Name')" type="submit"><strong><i class="feather feather-edit" data-toggle="tooltip" data-original-title="View/Edit"></i></strong></button>
                                                </td>
                                            </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End Row-->
<!--contact Modal -->
<div class="modal fade" id="contactmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="feather feather-phone-call  mr-1"></span>&nbsp;&nbsp;@_c.Contact_NO</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End contact Modal  -->
<!--mail Modal -->
<div class="modal fade" id="mailmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="feather feather-mail  mr-1"></span>&nbsp;&nbsp;@_c.Company_Email</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End mail Modal  -->
<!--infomodal Modal -->
<div class="modal fade" id="infomodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @if (_c.Logo_URL == null || _c.Logo_URL == "")
                    {
                        <img src="~/Uploads/User_Image/buildings.png" alt="logo" class="avatar avatar-xxl bradius" height="80" width="80" />
                    }
                    else
                    {
                        <img src="~/Uploads/User_Image/@_c.Logo_URL" alt="logo" class="avatar avatar-xxl bradius" height="80" width="80" />
                    }
                </h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <table class="table mb-0 text-nowrap">
                        <tbody>
                            <tr>
                                <td class="text-left"><b>Company Name:</b></td>
                                <td class="text-left">@_c.Company_Name</td>
                            </tr>
                            <tr>
                                <td class="text-left"><b>Admin Name:</b></td>
                                <td class="text-left">@_c.Adminstrator_Name</td>
                            </tr>
                            <tr>
                                <td class="text-left"><b>Number:</b></td>
                                <td class="text-left">@_c.Contact_NO</td>
                            </tr>
                            <tr>
                                <td class="text-left"><b>E-Mail :</b></td>
                                <td class="text-left">@_c.Company_Email</td>
                            </tr>
                            <tr>
                                <td class="text-left"><b>Address:</b></td>
                                <td class="text-left">@Html.Raw(util.GetTextStringTable(_c.Company_Address))</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End info Modal  -->
<!--Add Document Modal -->
<div class="modal fade" id="Model_Add_Cmp_Doc">

    @using (Ajax.BeginForm("Company_Document_Add", "Access", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnUpdateCompany_Profile" }, new { @id = "form", @enctype = "multipart/form-data", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Document</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label class="form-label">Document Name <span class="text-red">*</span></label>
                            <input type="hidden" name="Doc_Id" id="Doc_Id" value="0">
                            <input type="text" name="Doc_Name" placeholder="Enter Document Name" id="Doc_Name" value="" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label class="form-label">Select Document Image </label>
                            @* <input type="file" name="file" id="file" placeholder="Select Image" value="" class="form-control" />*@
                            <div class="custom-file">
                                <input type="file" name="file" id="file" class="custom-file-input"  placeholder="Browser File">
                                <label class="custom-file-label">Choose file</label>
                            </div> <span class="text-lightpink-red">[ Allow Only .jpg .png .jpeg .pdf (5MB) ]</span>
                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" data-dismiss="modal"><i class="fa fa-close"></i>&ensp;<b style="color:#222222">Close</b></button>
                        <button type="submit" id="savebtn" name="Command" value="Save" class="btn btn-info"><i class="fa fa-save"></i>&ensp;Save</button>
                        <button type="submit" id="deletebtn" name="Command" value="Delete" class="btn btn-danger"><i class="feather feather-trash"></i>&ensp;Delete</button>

                    </div>
                </div>
          
        </div>
    }
    </div>
<!-- End Add Document Modal  -->
