@using ClickKarmachari;
@{
    ViewBag.Title = "Employee_Punch_List";
    Layout = "~/Views/Access/Access_Layout.cshtml";
    List<User_Punch> user_punch = ViewBag.user_punch;
    List<UserMaster> user = ViewBag.user;
    DateTime dtoday = DateTime.Now;
    string st = dtoday.ToString("dd MMMM yyyy");
    DateTime dt = Convert.ToDateTime(ViewBag.dt);
    string str = dt.ToString("dd-MM-yyyy");
    string fst = dt.ToString("dd MMMM yyyy");
    string imagepath = "";
}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js"></script>

<!--Page header-->
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title">All Punch</h4>
    </div>
</div>
<!--End Page header-->
<!-- Row -->
<div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header  border-0">
                <h4 class="card-title">@*Punch List*@</h4>
            </div>

            <div class="card-body">
                @using (Html.BeginForm("Employee_Punch_List", "Access", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-xl-10 col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Date<span class="text-danger">&ensp;*</span></label>
                                        <div class="input-group">
                                            @if (str == "01-01-0001")
                                            {
                                                <input id="Punch_date" type="text" name="Punch_date" class="form-control fc-datepicker" max="@st" placeholder="Please Enter Date" required>
                                            }
                                            else
                                            {
                                                <input id="Punch_date" type="text" name="Punch_date" class="form-control fc-datepicker" value="@fst" max="@st" placeholder="Please Enter Date" required>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Select Employee<span class="text-danger">&ensp;*</span></label>
                                        <select name="Emp_Id" id="Emp_Id" class="form-control select2-show-search custom-select" data-placeholder="Select Employee" required>
                                            @if (ViewBag.user_id != null && ViewBag.user_id != 0)
                                            {
                                                if (ViewBag.user_id == -1)
                                                {

                                                    <option value="-1" selected>All</option>
                                                    foreach (UserMaster _c in user)
                                                    {
                                                        <option value=@_c.User_ID data-img="~/Uploads/User_Image/@_c.image_name">@_c.User_Name</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="-1">All</option>
                                                    <option value="@ViewBag.user_id" selected>@ViewBag.u_name</option>
                                                    foreach (UserMaster _c in user)
                                                    {
                                                        if (ViewBag.user_id == _c.User_ID)
                                                        {

                                                        }
                                                        else
                                                        {
                                                            <option value=@_c.User_ID data-img="~/Uploads/User_Image/@_c.image_name">@_c.User_Name</option>
                                                        }

                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <option value="-1">All</option>
                                                foreach (UserMaster _c in user)
                                                {
                                                    <option value=@_c.User_ID data-img="~/Uploads/User_Image/@_c.image_name">@_c.User_Name</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <div class="col-md-12">
                            <div>
                                <button class="btn  btn-primary" type="submit"><strong>Submit</strong></button>
                            </div>
                        </div>

                    </div>

                }


                @if (user_punch != null)
                {
                    <br /> <br />



                    if (ViewBag.user_id != -1)
                    {
                        var usersGroupedByCountry = user_punch.OrderBy(x => x.Punch_Id).GroupBy(x => x.Time.Date);
                        <div class="table-responsive" style="overflow-x:unset !important;">
                            <table id="basic-datatable" class="table table-hover text-nowrap table-striped table-bordered border-bottom ">
                                <thead>
                                    <tr>
                                        <th class="punch-style"><span class="badge badge-info m">Punch Date</span></th>
                                        <th><span class="badge badge-info">Punch Time</span></th>
                                        <th><span class="badge badge-info m user-punch  ">Total Time</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var _newobj in usersGroupedByCountry.OrderByDescending(x => x.Key))
                                    {
                                        <tr>
                                            <td>@_newobj.Key.ToString("dd MMMM yyyy")</td>
                                            @foreach (var punch in _newobj)
                                            {
                                                imagepath = "~/Uploads/Punch_Image/" + punch.image_name;
                                                <td>
                                                    <div class="popover-example">
                                                        <a href="@Url.Content(imagepath)" target="_blank">
                                                            <img src="~/Uploads/Punch_Image/@punch.image_name"
                                                                 onerror="this.src='@Url.Content("~/Uploads/User_Image/profile.jpg")';"
                                                                 class="avatar avatar-md brround me-3" />
                                                        </a>
                                                        @*<a data-original-title="Location" data-animation="false" data-easein="slideLeftIn" rel="popover" data-placement="right" data-content="@punch.Location"><i class="pe-7s-map-marker fa-2x" style="color:blue"></i></a>*@
                                                    </div>@punch.Punch_Type.Puch_Name , <br /><a onclick="Punch_Update(@punch.Punch_Id,'@punch.Time.ToString("yyy-MM-ddThh:mm")')" style="color:blue">@punch.Time.ToString("hh:mm:ss:tt")</a><br />
                                                    <b> @punch.IP_Address</b>
                                                </td>

                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        var usersGroupedByCountry = user_punch.OrderBy(x => x.Punch_Id).GroupBy(x => x.User_Id);
                        <div class="table-responsive">
                            <table id="basic-datatable" class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th><span class="badge badge-info m user-punch">User Name</span></th>
                                        <th><span class="badge badge-info m user-punch">Punch Date</span></th>
                                        <th colspan="4"><span class="badge badge-info m user-punch  ">Punch Time</span></th>
                                        <th><span class="badge badge-info m user-punch  ">Total Time</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var _newobj in usersGroupedByCountry.OrderByDescending(x => x.Key))
                                    {
                                        double hours = 0;
                                        double rounded = 0;
                                        <tr>
                                            <td class="form-label" style="text-transform:capitalize">@_newobj.FirstOrDefault().UserMaster.User_Name</td>
                                            <td>@_newobj.FirstOrDefault().Time.ToString("dd MMMM yyyy")</td>
                                            @foreach (var punch in _newobj)
                                            {
                                                var time1 = _newobj.Where(x => x.User_Id == punch.User_Id && x.PunchType_Id == 1 && x.Time.Date == dt).FirstOrDefault();
                                                var time2 = _newobj.Where(x => x.User_Id == punch.User_Id && x.PunchType_Id == 2 && x.Time.Date == dt).FirstOrDefault();

                                                if (time1 != null && time2 != null)
                                                {
                                                    DateTime ftime1 = DateTime.Parse(time1.Time.ToString());
                                                    DateTime ftime2 = DateTime.Parse(time2.Time.ToString());

                                                    TimeSpan diff = ftime2 - ftime1;

                                                    hours = diff.TotalHours;
                                                    rounded = Math.Floor(hours);
                                                }
                                                imagepath = "~/Uploads/Punch_Image/" + punch.image_name;

                                                <td colspan="4">
                                                    <div class="popover-example">
                                                        <a href="@Url.Content(imagepath)" target="_blank">
                                                            <img src="~/Uploads/Punch_Image/@punch.image_name"
                                                                 onerror="this.src='@Url.Content("~/Uploads/User_Image/profile.jpg")';"
                                                                 class="avatar avatar-md brround me-3" />
                                                        </a>
                                                        @*<a data-original-title="Location" data-animation="false" data-easein="slideLeftIn" rel="popover" data-placement="right" data-content="@punch.Location"><i class="pe-7s-map-marker fa-2x" style="color:blue"></i></a>*@@*pe-7s-map-marker fa-2x*@
                                                    </div>@punch.Punch_Type.Puch_Name , <br /><a onclick="Punch_Update(@punch.Punch_Id,'@punch.Time.ToString("yyy-MM-ddThh:mm")')" style="color:blue">@punch.Time.ToString("hh:mm:ss:tt")</a><br />
                                                    <b> @punch.IP_Address</b>
                                                </td>
                                            }
                                            <td>@rounded</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                }

            </div>


        </div>
    </div>
</div>

<!-- End Row-->
<!-------------------Update Punch------------------------------------------->
<div class="modal fade" id="Model_Punch_Update" tabindex="-1" role="dialog" aria-hidden="true">
    @using (Ajax.BeginForm("Employee_Punch_Update", "Access", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnUpdateAdminEmpPunch" }, new { @id = "form", @enctype = "multipart/form-data", role = "form" }))
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Punch</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Punch_Id" id="Punch_Id" />
                        <div class="col-lg-6">
                            <label class="form-label">Punch Time</label>
                            <div class="form-group">
                                <input type="datetime-local" name="Punchdate" id="Punchdate" class="form-control">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer modal-new-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fa fa-close"></i>&ensp;<b style="color:#222222">Close</b></button>
                    <button type="submit" id="savebtn" name="Command" value="Save" class="btn btn-info"><i class="feather feather-save"></i>&ensp;Save</button>
                    <button type="submit" id="deletebtn" name="Command" value="Delete" class="btn btn-danger"><i class="feather feather-trash"></i>&ensp;Delete</button>
                </div>
            </div>
        </div>
    }

</div>
