@using ClickKarmachari;
@using ClickKarmachari.Models;
@{
    ViewBag.Title = "Employee_Task_List";
    Layout = "~/Views/Access/Access_Layout.cshtml";
    int count = 1;
    string td = ViewBag.taskdate, sd = "";
    DateTime d = DateTime.Now;
    if (td != "")
    {
        d = Convert.ToDateTime(td);
        sd = d.ToString("dd MMMM yyyy");
    }
    List<Employee_Task_Master> employee = ViewBag.em;
    List<UserMaster> um = ViewBag.User;
    DateTime dtoday = DateTime.Now;
    string st = dtoday.ToString("dd MMMM yyyy");
    string ckstatus = "";
    string strmsg = ViewBag.str;
    List<long> user_id = new List<long>();
    long finaluserid = ViewBag.userid;
}
<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title">Daily Task</h4>
    </div>
    <div class="page-rightheader ml-md-auto">
      
    </div>
</div>
     <div class="row">
         <div class="col-xl-12 col-md-12 col-lg-12">
             <div class="card">
                 <div class="card-header  border-0">
                     <h4 class="card-title"></h4>
                 </div>
                 <div class="card-body">
                     @using (Html.BeginForm("Get_Employee_Task_Details", "Access", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                     {

                     <div class="row">
                         <div class="col-md-12 col-xl-12">
                             <div class="row">
                                 <div class="col-md-4">
                                     <label class="form-label">Task Date<span class="text-danger">&ensp;*</span></label>
                                     <div class="form-group">
                                         <div class="input-group">
                                             <div class="input-group-prepend">
                                                 <div class="input-group-text">
                                                     <i class="feather feather-calendar"></i>
                                                 </div>
                                             </div>
                                             @if (sd != "")
                                             {
                                                 // DateTime dt = Convert.ToDateTime(employee.FirstOrDefault().Task_Date);
                                                 //string str = dt.ToString("yyyy-MM-dd");
                                                 <input id="Task_date" type="text" name="Task_date" class="form-control fc-datepicker" autocomplete="off" value="@sd" max="@st" placeholder="01 January 2022" required>
                                             }
                                             else
                                             {
                                                 <input id="Task_date" type="text" name="Task_date" class="form-control fc-datepicker" autocomplete="off" max="@st" placeholder="01 January 2022" required>
                                             }
                                         </div>
                                       
                                     </div>
                                 </div>
                                 <div class="col-md-4">
                                     <div class="form-group">
                                         <label class="form-label">Employee<span class="text-danger">&ensp;*</span></label>
                                         @if (employee.Count > 0)
                                         {

                                             <select id="user_id" name="user_id" class="form-control select2-show-search custom-select"  data-placeholder="Select Employee">
                                                 @if (finaluserid == -1)
                                                 {
                                                     <option value="-1" selected>All</option>

                                                     foreach (UserMaster user in um)
                                                     {
                                                         <option value="@user.User_ID">@user.User_Name</option>
                                                     }
                                                 }
                                                 else
                                                 {
                                                     // <option value="@uid" selected>@uname</option>
                                                     <option value="-1">All</option>
                                                     foreach (UserMaster user in um)
                                                     {
                                                         if (user.User_ID == finaluserid)
                                                         {
                                                             <option value="@user.User_ID" selected>@user.User_Name</option>
                                                         }
                                                         else
                                                         {
                                                             <option value="@user.User_ID">@user.User_Name</option>
                                                         }

                                                     }
                                                 }




                                             </select>
                                         }
                                         else
                                         {

                                             <select id="user_id" name="user_id" class="form-control select2-show-search custom-select"  data-placeholder="Select Employee">
                                                 @if (finaluserid == -1)
                                                 {
                                                     <option value="-1" selected>All</option>

                                                     foreach (UserMaster user in um)
                                                     {
                                                         <option value="@user.User_ID">@user.User_Name</option>
                                                     }
                                                 }
                                                 else
                                                 {
                                                     // <option value="@uid" selected>@uname</option>
                                                     <option value="-1">All</option>
                                                     foreach (UserMaster user in um)
                                                     {
                                                         if (user.User_ID == finaluserid)
                                                         {
                                                             <option value="@user.User_ID" selected>@user.User_Name</option>
                                                         }
                                                         else
                                                         {
                                                             <option value="@user.User_ID">@user.User_Name</option>
                                                         }

                                                     }
                                                 }

                                             </select>
                                         }
                                     </div>
                                 </div>
                                 <br />
                                 <div class="col-lg-6 col">

                                     <input type="submit" value="Select" id="btnAdd" name="Command" class="btn btn-primary">

                                 </div>
                             </div>
                             <br /><br />

                             @if (strmsg == "one")
                             {
                                 if (employee.Count > 0)
                                 {

                                     <div class="col-sm-10 col-lg-12">
                                         <div class="card">
                                             <div class="card-header border-bottom-0">
                                                 <h3 class="card-title">All Employee Task Details</h3>
                                             </div>
                                             <div class="card-body task-body">
                                                 @foreach (Employee_Task_Master em in employee)
                                                 {
                                                     string s = "collapse" + count;
                                                     <ul class="list-group">
                                                         <li class="list-group-item justify-content-between">
                                                             <a data-toggle="collapse" data-parent="#accordion" href="#@s" aria-expanded="true" aria-controls="collapseOne">
                                                                 <div class="badgetext badge badge-info badge-pill pull-left number-btn m-0"> @count</div>&ensp;&ensp;
                                                                 <strong class="task-details" style="font-size:14px;text-transform:capitalize">@em.Task_Detail</strong>
                                                             </a>
                                                             <span style="float:right">
                                                                 <a href="delete_task?taskdate=@em.Task_Date&emp_task_id=@em.Employee_Task_id" onclick="return confirm('Are you sure you want to Delete')">
                                                                     <i class="fa fa-trash fa-2x delete-btn" style="color: #FF4433 " title="Delete"></i>
                                                                 </a>
                                                             </span>
                                                         </li>
                                                     </ul>
                                                     count++;
                                                 }
                                             </div>
                                         </div>
                                     </div>

                                 }
                                 else
                                 {
                                     ckstatus = "false";
                                 }
                             }
                             @if (strmsg == "all")
                             {
                                 if (employee.Count > 0)
                                 {
                                     
                                     ckstatus = "true";

                         <div class="card">
                             <div class="card-header border-bottom-0">
                                 <h3 class="card-title ">All Employee Task Details</h3>
                             </div>
                             <div class="card-body">
                                 <div aria-multiselectable="true" class="accordion" id="accordion" role="tablist">

                                     @foreach (Employee_Task_Master em in employee)
                                     {
                                         if (user_id.Contains(Convert.ToInt64(em.User_id)))
                                         {

                                         }
                                         else
                                         {
                                             user_id.Add(Convert.ToInt64(em.User_id));
                                             string s = "collapse" + count;
                                     <div class="acc-card mb-4">
                                         <div class="acc-header" id="headingOne" role="tab" style="text-transform:capitalize">
                                             <h5 class="mb-0">
                                                 <a aria-controls="collapseOne" aria-expanded="true" href="#@s" data-toggle="collapse">
                                                     <span class="badgetext badge badge-info badge-pill pull-left"> @count</span>&ensp;&ensp;
                                                     @em.UserMaster.User_Name
                                                     <span class="float-right"><i class="fe fe-chevron-right"></i></span>
                                                 </a>
                                             </h5>
                                         </div>
                                         <div aria-labelledby="headingOne" class="collapse" data-parent="#accordion" id="@s" role="tabpanel">
                                             @foreach (Employee_Task_Master em1 in employee.Where(x => x.User_id == em.User_id).ToList())
                                             {

                                             <div class="acc-body" style="text-transform:capitalize">
                                                 <span class="feather feather-check text-success icon-style-circle bg-success-transparent" ></span>&ensp;&ensp;@em1.Task_Detail
                                             </div>
                                             }
                                         </div>
                                     </div>
                                             count++;
                                         }
                                     }
                                 </div>
                             </div>
                         </div>
                                 }
                                 else
                                 {
                                     ckstatus = "false";
                                 }
                             }
                             @if (ckstatus == "false" && ViewBag.taskdate != "")
                             {
                                 <div class="row" style="text-align: center; margin: 0 auto;">
                                     <div class="col-lg-12">
                                         <div class="hpanel" style="">
                                            @* <div class="col-lg-4"></div>*@
                                             <div class="col-lg-4" style="text-align:center;margin: 0 auto;">
                                                 <img src="~/AdminTemplate/assets/images/data_not_found.png" @*style="width:100%;height:100%;"*@ />
                                                @* <h4 style="text-align:center;">No Data Found</h4>*@
                                             </div>
                                             <div class="col-lg-4"></div>

                                         </div>
                                     </div>
                                 </div>
                             }
                             else
                             {

                             }
                         </div>
                                 </div>
                     }
                     </div>
              </div>
         </div>
     </div>